source https://nuget.org/api/v2

nuget FSharp.Core redirects: force

nuget Endorphin.Core >= 0.3.5
nuget Endorphin.Core.NationalInstruments >= 0.3

nuget log4net

github WarwickEPR/Endorphin.Core src/Endorphin.Core.String.fs

group Build
    source https://nuget.org/api/v2

    nuget SourceLink.Fake
    nuget FAKE
    nuget FSharp.Formatting

    github fsharp/FAKE modules/Octokit/Octokit.fsx
